version: '3.7'
services:

  nginx:
    image: nginx:latest
    ports:
      - 8080:80
    volumes:
      - ./docker/nginx/camagru.conf:/etc/nginx/conf.d/default.conf
      - .:/camagru
    links:
      - php
    depends_on:
      - php
      - mysql
    restart: unless-stopped

  php:
    build: ./docker/php
    links:
      - mysql
    volumes:
      - .:/camagru
    restart: unless-stopped

  mysql:
    image: mysql:5.7
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: camagru
      MYSQL_USER: camagru
      MYSQL_PASSWORD: camagru
    restart: unless-stopped
    volumes:
      - ./db:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/my.cnf
    command: --default-authentication-plugin=mysql_native_password